#body a {
	text-decoration: none;
	color: #212121;
  transition: color .4s;
  -webkit-transition: color .4s;
}

#body a:hover {
	color: #ec008c;
}

.content-box {
	height: 100%;
	width: 80%;
	background-color: #FAFAFA;
}

.content {
	padding: 20px;
}
