@charset "UTF-8";

html {
	background-color: #EEEEEE
}

body {
	
	font-family: montserrat;
	text-align: center;
	text-shadow: #000000 0px 2px 2px 
	
}

h1 {
	text-align: center;
	font-family: montserrat;
	color: #424242;
}

h2 {
	color: #00d2ff;
}

