@charset "UTF-8";

html {
	background-color: #FFFFFF;
}

body {
	padding-left: 2%;
	padding-top: 20px;
}

#header {
	line-height: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 32px;
	color: #000000;
	text-align: left;
}

#links {
	line-height: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: #000000;
	text-align: left;
}

#info {
	line-height: 40px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: #000000;
	text-align: left;
	padding-right:100px;
}

#smiley {
	display: block;
    margin-left: auto;
    margin-right: auto;
}