.content-box {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.content {
  height: 100%;
  width: 80%;
}



form {}

input {
	width: 80%;
	margin-bottom: 20px;
}
