#body a {
	padding: 0px 15px 0px 15px;
  
	text-decoration: none;
	text-shadow: 0px 0px 5px #000000;
	font-size: 14pt;
	color: #FFFFFF;

  transition: color .4s;
  -webkit-transition: color .4s;
}

#body a:hover {
	color: #ec008c;
}
