body {
	margin: 0px;
	padding: 0px;

	font-family: "Montserrat";

	background-color: #111111;
	color: #FFFFFF;
}

h1 {
	font-weight: 800;
}

h3 {
	font-weight: 700;
	font-size: 12pt;
	color: #EC008C;
	margin: 0px;
	padding: 0px 0px 10px 0px;
}

h4 {
	font-weight: 500;
	font-size: 14pt;
	color: #000000;
	padding: 0px;
	margin: 0px;
}

p, h2 {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

#heading {
	height: 12vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

#heading #first-name {
	color: #FFFFFF;
}

#heading #last-name {
	color: #ec008c;
}

#heading a {
	text-decoration: none;
}

#body {
	min-height: 76vh;
	height: auto;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #212121;
	background-color: #212121;
	background-image: url('../resources/dot-banner.png');
	background-size: 50%;

	overflow: auto;
}

#footer {
	height: 12vh;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

#socials {
	width: 100%;

	display: flex;
	justify-content: center;

}

#socials a {
	padding: 0px 7px 0px 7px;
	text-decoration: none;
	color: #FFFFFF;
	transition: color .4s;
	-webkit-transition: color .4s;
}

#socials a:hover {
	color: #ec008c;
}

#socials .fa {
	font-size: 24pt;
}

#other {
	width: 100%;
	padding-top: 10px;
	font-size: 10pt;
	display: flex;
	justify-content: center;
}
